html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-align: center;
}
h1{
	background: red;
	color: white;
}
nav{
	margin: 0 25%;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}
nav .mainMenu>li{
	display: inline-block;
	margin-left: -5px;
	padding: 0 2px;

}
nav a{
	margin: 0;
	width: 250px;
	text-align: left;
	padding: 12px 15px;
	background: #5f6975;
	color: white;
	text-decoration: none;
	position: relative;
	display: block;
	text-align: center;
}
nav li:hover>a{
	background: #2f95c8;
	cursor: pointer;
}
nav .subMenu, .superSubMenu, .superSubMenu2{
	position: absolute;
	display: none;
}
nav .mainMenu>li:hover .subMenu, nav .subMenu>li:hover>.superSubMenu, nav .subMenu>li:hover>.superSubMenu2{
	display: block; 
}
nav .subMenu li{
	position: relative;
	border-top: 1px solid #575f6a;
	border-bottom: 1px solid #6b727c;
}
nav .superSubMenu{
	top: 0;
	right: 0;
	transform: translate(-100%,0);
}
nav .superSubMenu2{
	top: 0;
	right: 0;
	transform: translate(100%,0);
}




